html, body, .fluidContainer, .mainCol {
  /*width: 100%;*/
  height: 92%;
  /*overflow: hidden;*/
  -webkit-font-smoothing:antialiased;
  -moz-osx-smoothing:grayscale;

  font-size:2.5vmin;
}

.h-100 {
  height: 100%;
  min-height: 100%;
}

.h-30 {
  height: 30%;
  min-height: 30%;
}

.rule,.link {
    cursor:pointer;
}

.d3-tip {
    pointer-events:none !important;
}

#legendContainer {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;

  margin-right: 15px;

  width: 100%;
  height: 100%;

  pointer-events: none;
}


#legend {
  position: absolute;

  top: 0px;

  background-color: rgba(25,25,25,0);

  pointer-events: all;
}

.content {
  margin-top:  15px;
  margin-bottom:   15px;
  /*background-color: pink;*/
}
.controls {
    max-width:33vw;
    margin:auto;
}

.control {
  padding:8px;
  margin-top:  15px;
  margin-bottom:   15px; 
}
.control:first-of-type{ 
    font-weight:bold;
    font-size:0.85em;
}
.control:first-of-type p{ 
    display:inline-block;
    vertical-align: top;
    margin-right:30px;
}

.slider { 
  vertical-align: top;
  display: inline-block; 
  margin-bottom:5px;
}
.slider+.slider {
    /*margin-top:15px;*/
}

.col-md-4 {
    margin:0 30px;
}

.columns {
  column-count:2;
  -webkit-column-count:2;
  column-gap:5px;
  -webkit-column-gap:5px;
}
.columns span {
  display:block;
  font-size: 2vmin;
}
button,input {
    outline:none;
    border-radius:5px;
    border:1px solid #ccc;
    /*padding:5px 12px;*/
}


button {
    background-color:#fff;
    transition:background-color 100ms ease;
    -webkit-transition:background-color 100ms ease, color 100ms ease;
    color:#777;
}
button:hover {
    color:#555;
}
button:active {
    background-color:#eee;
    color: #333;
}

input[type="text"] {
    margin-top:5px;
}
input[type="checkbox"] {
    margin-top:5px;
    height: 2vmin;
    width: 2vmin;
}
@media (min-width: 992px) {
    html, body, .fluidContainer, .mainCol {
      height:100%;
      overflow: hidden;
    }
    .col-md-4 {
      margin:0;
      overflow:auto;
    }
    .control:first-of-type p{ 
        display:block;
    }
}
