@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html, body, .fluidContainer, .mainCol {
  height:100%;
  overflow: hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  font-size:2.5vmin;
  line-height:2.75vmin;
}
body {
  margin: 0;
  font-family: 'istok web','source sans', 'helvetica neue', helvetica, arial, sans-serif;
}

#toolbar {
  display:none;
}

.linegraph {
  height: 30vh;
  min-height: 30vh;
}

.mainCol {
  height:100%;
  width:70%;
  position:relative;
}
.sideCol {
  position:absolute;
  top:0;
  border-left:1px solid #eee;
  left:70%;
  margin:0;
  width:30%;
  overflow:auto;
}

.rule,.link,.text {
  cursor:pointer;
}

.rule-node {
  stroke:white;
  stroke-opacity:0.5;
  stroke-width:1.5;
}

.rule-text {
  fill:white;
  font-size:14px;
  letter-spacing: 0.1px;
  text-shadow:0 0 1px #333;
}
.node-to-graph {
  stroke-opacity:1 !important;
  stroke-width:2.5;
  opacity:1 !important;
}

#tip, #legendContainer {
  position:absolute;
  top:0;
  left:0;
}
#tip {
  opacity:0;
  font-size: 0.85em;
  padding:1vmin 1.5vmin;
  border-radius: 0 0 8px 0;
  background: rgba(30,30,30,0.8);
  color:white;
  letter-spacing: 0.1vmin;
  pointer-events:none;
}

#legendContainer {
  overflow: hidden;
  margin-right: 15px;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

#legendContainer > div {
  position:absolute;
}

rect.slider {
  cursor:pointer;
}

.columns {
  max-width:50vw;
  column-count:2;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-gap:3vw;
  -webkit-column-gap:3vw;
  -moz-column-gap:3vw;
  margin-left:2vw;
}
.columns span {
  display:block;
  font-size: 2vmin;
  line-height:3vmin;
}

#filename {
  font-size:1.8vmin;
  line-height:2.5vmin;
}

button,input {
  outline:none;
}

button {
  font-family: inherit;
  font-size: inherit;
  color:inherit;
  cursor:pointer;
  background-color:transparent;
}

.slider-tab {
  fill:#ccc;
}
.slider-tab.active {
  fill:#5bf;
}

.toggle-axis-scale {
  color:#999;
  fill:#999;
}
.toggle-axis-scale .active {
  color:#2c7fb8;
  fill:#2c7fb8;
}
.toggle-axis-scale {
  cursor:default;
}
.toggle-axis-scale .log, .toggle-axis-scale .linear {
  cursor:pointer;
}

/*Animation controls*/
.animationControls {
  position:absolute;
  color:white;
  white-space: nowrap;
  font-size:0.7em;
  line-height:0.7em;
  padding:0.5vmin;
  pointer-events:none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */

}
.animationSpeedDiv {
  display:inline-block;
  width:3em;
  text-align:center;
}
.animationSpeed {
  font-weight:bold;
  margin:0;
}
i.animationIcon {
  pointer-events:auto;
  cursor:pointer;
  margin:0 0.75vmin;
  font-style:normal;
  font-family: FontAwesome;
  display:inline-block;
  width:0.9em;
  text-align: center;
}
.frIcon:before {
  content:"\f049";
}
.sbIcon:before {
  content:"\f048";
}
.ppIcon:before {
  content:"\f04b";
}
.ppIcon.paused:before {
  content:"\f04c";
}
.sfIcon:before {
  content:"\f051";
}
.ffIcon:before {
  content:"\f050";
}
